<!DOCTYPE html>
<html>
<style>
.body {
  font: 10px sans-serif;
  background-color: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: steelblue;
  shape-rendering: crispEdges;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
</style>
<body>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script>
        var data = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]

        var padding = 40; // Variable agregada para uso futuro.

        var width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);

        var height = 300 + padding; //esta variable era calculada, pero por cómo funciona html, la altura de un documento siempre es un desmadre (si mides el documento sin contenido es 0 y crece al agregar). Dejé una variable fija de 300 y le agregué el padding.

        var x = d3.scale.linear().domain([0, 24]).range([padding, width - padding]);
        var y = d3.scale.linear().domain([0, 100]).range([height - padding, padding]); //Los rangos no eran dependientes de las variables width y height, así que los hice dependientes para que sea responsiva y agregué la variable padding para que podamos trasladar toda la gráfica con eso y darle márgenes.

        var line = d3.svg.line()
            .x(function(d, i) {
                return x(i);
            })
            .y(function(d) {
                return y(d);
            });

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom")
            .ticks(10);

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(4); //Las dos variables anteriores generan los ejes por medio de la función d3.svg.axis. Al pasar un número en "ticks" D3 automágicamente determina un número cercano de divisiones al eje para que no queden decimales y sea legible (en este caso, aunque el número de ticks sea 4 en el eje y, pone 6 para ir de 20 en 20)

        var canvas = d3.select("body")
            .append("svg")
            .attr("width", width)
            .attr("height", height);

        var path = canvas.append("path")
            .attr("d", line(data))
            .attr("stroke", "steelblue")
            .attr("stroke-width", "2")
            .attr("fill", "none");


        var totalLength = path.node().getTotalLength();

        path
            .attr("stroke-dasharray", totalLength + " " + totalLength)
            .attr("stroke-dashoffset", totalLength)
            .transition()
            .duration(2000)
            .ease("bounce") // el ease linear se ve muy mecánico, así que lo cambié por este que se ve más coqueto.
            .attr("stroke-dashoffset", 0);

        canvas.append("g") //agrega el eje x (en realidad eso es al final con el call, pero ya sabes que D3 es todo al revés)
            .attr("class", "axis") //imputa la clase para poder dar estilo con CSS
            .attr("transform", "translate(0," + (height - padding) + ")") //traslada el eje del origen (esquina superior izquierda) a justo la base de la gráfica que se determina por dos variables, así que si le movemos las variables, esto se ajusta solo.
            .call(xAxis);

        canvas.append("g") // básicamente lo mismo que arriba, pero para el eje y
            .attr("class", "axis")
            .attr("transform", "translate(" + padding + ",0)")
            .call(yAxis);
    </script>
</body>

</html>
