<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<style>
    .node {
        stroke: #090808;
        stroke-width: 1.5px;
    }

    .link {
        stroke: #090808;
        stroke-opacity: .6;
    }
</style>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import d3.js -->
    <script src="{{ url_for('static', filename='js/legend.js')}}"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>

</head>

<body class="grey-text text-darken-2;" style="background: black;">
    <div class="navbar-fixed">
        <nav style="background-color:#000000;">
            <div class="nav-wrapper container">
                <a href="http://pollstr.io" class="brand-logo">
                    <img src="{{ url_for('static', filename='img/pollstrLogoWhiteS.png')}}" style="max-height:60px;">
                </a>
            </div>
        </nav>
    </div>
</body>
<script src="https://d3js.org/d3.v3.js"></script>
<script>
    var width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);

    var height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

    var colorLeave = d3.interpolateLab("#4c4cff", "#e5e5ff");

    var colorRemain = d3.interpolateLab("#666600", "#ffff00");

    var repetitions = {{ repetitions }};

    var force = d3.layout.force()
        .charge(-50)
        .linkDistance(50)
        .gravity(0.5)
        .size([width, height]);

    var drag = force.drag()
        .on("dragstart", dragstart);;

    var max_nodes = 500,
        gravity = {{ gravity }};

    var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height);

    d3.json("/data", function(graph) {

        var nodes = force.nodes(graph.nodes),
            links = force.links(),
            node = svg.selectAll(".node");

        var linksArray = graph.links;

        var node = node
            .data(graph.nodes)
            .enter().insert("circle")
            .attr("class", "node")
            .attr("r", function(d) {
                return d.logFollowers;
            })
            .call(drag)
            .style("fill", function(d) {
                return d.color;
            });

        node.append("title")
            .text(function(d) {
                return "Username: " + d.name + "\nFollowers:" + d.followers;
            });

        force.on("tick", function() {
            node.attr("cx", function(d) {
                    return d.x;
                })
                .attr("cy", function(d) {
                    return d.y;
                });
        });

        force.start();

        var timer = setInterval(diffusion, 7500);

        function diffusion() {
            for (i = 0; i < max_nodes; i++) {
                links.push(linksArray[i])
            };

            var link = svg.selectAll(".link")
                .data(links)
                .enter().insert("line")
                .attr("class", "link")
                .style("stroke-width", function(d) {
                    return Math.sqrt(d.value);
                })
                .style("stroke", function(d) {
                    return d.color;
                });


            force.on("tick", function() {

                node.attr("cx", function(d) {
                        return d.x;
                    })
                    .attr("cy", function(d) {
                        return d.y;
                    });

                link
                    .attr("x1", function(d) {
                        return d.source.x;
                    })
                    .attr("y1", function(d) {
                        return d.source.y;
                    })
                    .attr("x2", function(d) {
                        return d.target.x;
                    })
                    .attr("y2", function(d) {
                        return d.target.y;
                    })
            });

            force
                .gravity(gravity)
                .start();
            console.log(links.length)
            max_nodes = max_nodes + 500;
            gravity = gravity - 0.115;

            if (gravity > 0) {
                setTimeout(function() {
                    link.remove()
                }, 7500)
            };

            repetitions = repetitions + 1;

            if (repetitions > 3) {
                clearInterval(timer)
            }

        };

    });

    function dragstart(d) {
        d3.select(this).classed("fixed", d.fixed = true);
    }
</script>
