<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import d3.js -->
    <script src="{{ url_for('static', filename='js/legend.js')}}"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>

</head>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script>
    var margin = {
        top: 20,
        right: 20,
        bottom: 20,
        left: 20
    };
    var winWidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    var width = (winWidth - margin.left - margin.right),
        height = (winWidth / 2) * 0.55;
</script>

<body class="grey-text text-darken-2;" style="background: black;">
    <div class="navbar-fixed">
        <nav style="background-color:#000000;">
            <div class="nav-wrapper container">
                <a href="http://pollstr.io" class="brand-logo">
                    <img src="{{ url_for('static', filename='img/pollstrLogoWhiteS.png')}}" style="max-height:60px;">
                </a>
            </div>
        </nav>
    </div>

    <body>
        <div>
            <div style="float:left; width: 50%; margin:0">
                <a href="https://plot.ly/~pollstr/15/" target="_blank" title="" style="display: block; text-align: center;"><img src="https://plot.ly/~pollstr/15.png" alt="" style="max-width: 100%;width: width;" width="width" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                <script data-plotly="pollstr:15" src="https://plot.ly/embed.js" async></script>
            </div>
            <div style="float:right; width: 50%; margin:0">
                <a href="https://plot.ly/~pollstr/13/" target="_blank" title="" style="display: block; text-align: center;"><img src="https://plot.ly/~pollstr/13.png" alt="" style="max-width: 100%;width: width;" width="width" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                <script data-plotly="pollstr:13" src="https://plot.ly/embed.js" async></script>
            </div>
        </div>
    </body>

</html>
